/*Nav Bar*/
.navbar {
    list-style-type: none;
}
.navlink {
    text-decoration: none;
    display: flex;
    padding: 1px 12px;
    font-size: 18px;
    color: #171f31;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}
.navitem {
    float: right;
}
.navtitle {
    padding-top: 12px;
    display: block;
    float: left;
    font-family: 'Abril Fatface';
    font-size: 20px;
}
nav {
    margin: 0 1% 20px;
}
.navhr {
    border: 1px solid #171f31;
}
/*Mobile Nav*/
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #bbb;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #171f31;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #ddd;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #b1d0e0;
    color: white;
  }
  .mnavtitle {
    font-family: 'Abril Fatface';
  }
  .fullnav {
    visibility: hidden;
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .mobilenav {
        visibility: collapse;
        display: none;
    }
    .fullnav {
        visibility: visible;
        display: block;
    }
    .regHeader {
        margin-top: 100px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }
    p, a, td, li{
        font-size: 16px;
    }

  }
/*Header*/
header {
    margin-top: 60px;
}
.headerbg {
    background-color: #b1d0e0;
    width: 90%;
    max-height: 50%;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}
.headerimg {
    width: 50%;
}
/*Main Section*/
h1, h2 {
    font-family: 'Abril FatFace';
}
p, a {
    font-family: 'Poppins';
}

main {
    margin-top: 20px;
}
.section>h2,p {
    text-align: center;
}
.section>p {
    width: 75%;
    margin: auto;
}

.section:nth-child(odd) {
    background-color: #b1d0e0;
}
.section {
    /*border-radius: 10px;*/
    padding: 60px 15px;
    height: 100%;
    margin-left: -8px;
    margin-right: -8px;
}
.footerDivider {
    border: 1px solid #171f31;
}
/*Header*/
header {
    text-align: center;
}
header>hr {
    border: 1px solid #171f31;
}
/*Resources*/
.title {
    text-align: center;
}
.List {
    width: 50vw;
    margin: 0 auto;
}
.redHeader {
    margin-top: 40px;
}
.pdf {
    width: 90%;
    height: 98vh;
    margin: 60px auto;
    display: block;
}
#SchButtonBar {
    display: flex;
    justify-content: center;
}
.schlink:hover {
    border-bottom: 1px solid #171f31;
}
.tabcontent {
    display: none;
    font-family: 'Poppins';
    margin: 0 auto;
}
#Year1 {
    display: block;
}
.tablink {
    background-color: #171f31;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    margin-left: 10px;
  }
  .grupScheTable {
    border: 1px solid #171f31;
    width: 95%;
    margin: 0 auto;
  }
    table,
    td,
    th,
    tr {
    border: 1px solid #1a374d;
    border-collapse: collapse;
    }
    td:nth-child(odd) {
        text-align: center;
    }
